@import "tailwindcss";

@theme {
  --color-blueberry: #240837;
  --color-mint: #87e2ae;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffff;
  background-color: var(--color-blueberry);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blueberry);
}

a {
  font-weight: 500;
  color: var(--color-mint);
  text-decoration: inherit;
}
a:hover {
  color: #a5e9c4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  opacity: 0.9;
}
button:focus,
button:focus-visible {
  outline: 2px solid var(--mint);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
